@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

@layer base {
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #111827 inset !important;
    -webkit-text-fill-color: #cacaca;
  }

  .word-break {
    word-break: break-word;
  }

  .fade-anim {
    animation: 400ms fadeAnim ease;
  }

  @keyframes fadeAnim {
    0% {
      transform: scale(0.8);
    }

    100% {
      transform: scale(1);
    }
  }
}
